.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.input-bar {
  justify-self: center;
  border: none;
  border-radius: 0.7rem;
  width: 20rem;
  transition: all 0.3s;
  background-color: #4f5f9b;
  color: #dee2e6;
  padding: 14px;
  height: 2.2rem;
}

.input-bar:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
